---
import Layout from "../layouts/Layout.astro";
---
<Layout title="About — Travis Lelle">
  <div class="card">
    <h1>About</h1>
    <p>I'm Travis aka. info5ec. I break, build, and secure things — and sometimes write about it. Interests: AI, cybersecurity, DIY, philosophy, anime, and screwing around on the web (It's nostalgic).</p>
    <p>Based in Florida. I post bite‑sized notes in the blog and share experiments in the Fun Zone - the minigame is only playable on a desktop for now, but I'm working on a much better game that will be very mobile friendly.</p>
  </div>
</Layout>
